/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Lato:wght@300&display=swap');

/* The following code removes all default margins, padding and borders */

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* headings and logo */

h1, h2 {
    font-family: Josefin sans, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 280%;
    font-weight: 700;
    margin-left: 30px;
    font-size: 30px;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    font-weight: 700;
}

/* sets the line height for the logo and menu for a balance look */
#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 25px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* hero-image and text-box */

#hero-outer {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

#cover-text, #cover-text h2 {
    color: #fff;
}

/* The Background image taken from https://www.pexels.com/pexels-yan-kruka/concentrated-adults-doing-yoga-at-studio-8436934 */

#hero-image {
    height: 100vh; 
    width: 100%;
    background: url("../images/hero-image.jpg") no-repeat center center;
    background-size: cover;
}

#cover-text {
    font-size: 130%;
    font-family: Josefin sans, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;

    width: 300px;
    height: 100px;

    padding-top: 40px;
    padding-right: 10px;
    padding-right: 40px;
    
    background-color: rgba(219, 108, 121, 0.7);
    border-radius: 20px;
    
    bottom: 40px;
    left: 50px;
    top: 120px;

    position: absolute;

}

/* Button Styling */
.button {
    display: inline-block;
    background: hsl(353, 61%, 64%);
    border: 2px solid white;
    color: white;
    padding: 14px 20px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 17px;
    text-decoration: none;
    margin-left: 50px;  
}

.button:hover {
    background: white;
    border: 2px solid hsl(353, 61%, 64%);
    color: hsl(353, 61%, 64%);
    padding: 14px 20px;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;  
}

#next-section h4 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    padding-top: 480px;
    margin-left: 50px;
}  


   





